<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{headerEmployee :: headerEmployee}" th:with="title='Error'"></div>
<body>
<img class="logo" src="/../static/img/LogoWhite.png" alt="">

<!-- Content -->
<div class="content-container">
    <div class="error-container">

        <!-- Display validation errors if they exist -->
        <div th:errorclass="errors"
             th:if="${validationErrors != null}"
             class="alert alert-danger" role="alert" style="color: red;">
            <ul>
                <li th:each="error : ${validationErrors}" th:text="${error}"></li>
            </ul>
        </div>

        <!-- Display error message if it exists -->
        <div th:errorclass="errors"
             th:if="${errorMessage != null}"
             class="alert alert-danger" role="alert" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="button-row">
            <button class="delete-button" onclick="goBack()">Zurück</button>
        </div>
    </div>
</div>
</body>
</html>