<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="headerAdmin :: headerAdmin" th:with="title='Ressourcen-Buchungen anzeigen'"></div>
<body>
<!-- Top Bar -->
<div th:insert="topbarAdmin :: topbarAdmin"></div>
<!-- Side Navbar -->
<div th:insert="navbarAdmin :: navbarAdmin"></div>
<!-- Content -->
<div class="content-container">
    <div class="allRessourceContainer">
        <h1>Ressourcen-Buchungen</h1><br><br>
        <div class="scroll-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Ressource</th>
                    <th>Kategorie</th>
                    <th>Mitarbeiter</th>
                    <th>Datum</th>
                    <th>Startzeit</th>
                    <th>Endzeit</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="booking : ${bookings}">
                    <tr>
                        <td th:text="${booking.id}"></td>
                        <td th:text="${booking.ressource.name}"></td>
                        <td th:text="${booking.ressource.ressourcetype}"></td>
                        <td th:text="${booking.employee.nick}"></td>
                        <td th:text="${booking.date}"></td>
                        <td th:text="${booking.start}"></td>
                        <td th:text="${booking.endTime}"></td>
                        <td>
                            <a th:href="@{'/web/ressourceBooking/updateBooking/' + ${booking.id}}" class="button"
                               role="button">Bearbeiten</a>
                            <a th:href="@{'/web/ressourceBooking/deleteBooking/' + ${booking.id}}" class="delete-button"
                               role="button">Löschen</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="button-row">
            <a th:href="@{/web/ressource/allRessources}" class="button" role="button">Buchen</a>
            <button class="delete-button" onclick="goBack()">Zurück</button>
        </div>
    </div>
</div>
<div class="filler"></div>
</body>
</html>