<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<<div th:insert="~{headerEmployee :: headerEmployee}" th:with="title='Arbeitsplatz Buchen'"></div>
<body>
<!-- Top Bar -->
<div th:insert="~{topbarEmployee :: topbarEmployee}"></div>
<!-- Side Navbar -->
<div th:insert="~{navbarEmployee :: navbarEmployee}"></div>
<!-- Content -->
<div class="content-container">
    <div class="allRessourceContainer">
        <h1>Vergangene Arbeitsplatzbuchungen</h1><br>
        <div class="scroll-container">
            <div th:if="${errorMessage}" class="alert alert-danger error-message">
                <p th:text="${errorMessage}"></p>
            </div>
        <table>
            <thead>
            <tr>
                <th>Arbeitsplatznummer</th>
                <th>Datum</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Erstellt Am</th>
                <th>Zuletzt Bearbeitet Am</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking: ${myBookingHistory}" th:id="'bookingRow-' + ${booking.id}">
                <td th:text="${booking.desk.deskNr}"></td>
                <td th:text="${#temporals.format(booking.date, 'MMMM d, yyyy')}"></td>
                <td th:text="${#temporals.format(booking.start, 'hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.endTime, 'hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.getCreatedOn, 'MMMM d, yyyy, hh:mm a')}"></td>
                <td th:text="${#temporals.format(booking.getUpdatedOn, 'MMMM d, yyyy, hh:mm a')}"></td>
                <td>
                    <a class="button" role="button" th:href="@{/web/deskbookings/view/{id}(id=${booking.id})}">Details Anzeigen</a>
                </td>
            </tr>
            </tbody>
        </table>
            <button class="delete-button" type="button" onclick="goBack()">Zurück</button>
    </div>
</div>
<div class="filler"></div>
</div>
</body>
</html>